@model List<CareerConnect.Models.tbl_jobseekers_profile>
@{
    ViewBag.Title = "GetJobSeekerProfileData";
}

@foreach (var item in Model)
{
<div class="card text-center">
    <div class="card-header" style="font-weight:bolder">
        Profile Details
    </div>
    <div>
        @{
            var base64 = Convert.ToBase64String(item.Image);
            var imgsrc = string.Format("data:image/gif;base64,{0}", base64);

            <img src="@imgsrc" style="max-width:100px;min-width:100px; border-radius:50%;margin-top:1rem" />
        }
    </div>
    <div class="card-body">
        <h5 class="card-title">@item.Name</h5>
        <p class="card-text">@item.Profession</p>
        <a href="@item.SocialMedia" target="_blank" class="btn btn-warning">Know More</a>
        <a href="@Url.Action("JobProfile", new { @item.id, @item.Name, @item.Profession, @item.Bio, @item.Location,@item.Mobile,@item.Skills,@item.Education, @item.Email , @item.SocialMedia})"  class="btn btn-primary">Edit Profile</a>
    </div>
    <center>
        <p class="d-inline-flex gap-1" style="width:100%;padding:1rem">
            <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample" style="width:100%">
                About Yourself
            </a>
        </p>
        <div class="collapse" id="collapseExample">
            <div class="card card-body">
                @item.Bio
            </div>
        </div>
    </center>
    <center>
        <p class="d-inline-flex gap-1" style="width:100%;padding:1rem">
            <a class="btn btn-success" data-bs-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample" style="width:100%">
                Location
            </a>
        </p>
        <div class="collapse" id="collapseExample1">
            <div class="card card-body">
                @item.Location
            </div>
        </div>
    </center>
    <center>
        <p class="d-inline-flex gap-1" style="width:100%;padding:1rem">
            <a class="btn btn-danger" data-bs-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample" style="width:100%">
                Email
            </a>
        </p>
        <div class="collapse" id="collapseExample2">
            <div class="card card-body">
                @item.Email
            </div>
        </div>
    </center>
    <center>
        <p class="d-inline-flex gap-1" style="width:100%;padding:1rem">
            <a class="btn btn-warning" data-bs-toggle="collapse" href="#collapseExample3" role="button" aria-expanded="false" aria-controls="collapseExample" style="width:100%">
                Education
            </a>
        </p>
        <div class="collapse" id="collapseExample3">
            <div class="card card-body">
                @item.Education
            </div>
        </div>
    </center>
    <center>
        <p class="d-inline-flex gap-1" style="width:100%;padding:1rem">
            <a class="btn btn-secondary" data-bs-toggle="collapse" href="#collapseExample4" role="button" aria-expanded="false" aria-controls="collapseExample" style="width:100%">
                Phone Number
            </a>
        </p>
        <div class="collapse" id="collapseExample4">
            <div class="card card-body">
                @item.Mobile
            </div>
        </div>
    </center>

    <center>
        <p class="d-inline-flex gap-1" style="width:100%;padding:1rem">
            <a class="btn btn-info" data-bs-toggle="collapse" href="#collapseExample5" role="button" aria-expanded="false" aria-controls="collapseExample" style="width:100%">
                Skills
            </a>
        </p>
        <div class="collapse" id="collapseExample5">
            <div class="card card-body">
                @item.Skills
            </div>
        </div>
    </center>

   
    <br />
    <br />
    <br />
    <br />
    <br />
</div>

  
    


}